@import url('https://fonts.googleapis.com/css2?family=Inter:opsz,wght@14..32,600&display=swap');

.inter-semibold {
	font-family: 'Inter', sans-serif;
	font-optical-sizing: auto;
	font-weight: 600;
	font-style: normal;
}

:root {
	--color-bg-main: #151515;
}

.roboto-regular {
	font-family: 'Roboto', sans-serif;
	font-weight: 400;
	font-style: normal;
}

.roboto-bold {
	font-family: 'Roboto', sans-serif;
	font-weight: 700;
	font-style: normal;
}
